.weatherApp {
  background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
  border: 5px solid #ffc107;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px;
  max-width: 576px;
}

#search-bar {
  color: #ffc107;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

#inputcity {
  border: solid #ffc107;
  border-radius: 5px;
  padding: 6px;
}

.curentemoji {
  text-align: center;
  position: relative;
}

#current-icon.sone {
  display: block;
  margin: 0 auto;
}

.col h1.current-city {
  text-transform: capitalize;
  width: 264px;
}

.col.weather-specs {
  position: relative;
  top: 25px;
  width: 264px;
}

#weather-description {
  text-transform: capitalize;
}

.row.forecast {
  text-align: center;
  color: #ffc10a;
  margin-top: 15px;
}

.col hr {
  border-top: 5px solid #ffc10a;
  max-width: 100%;
  text-align: center;
}

.col-3.card {
  border: 5px solid #ffc107;
  border-radius: 5px;
  margin: 10px 5px 10px 5px;
  text-align: center;
  padding: 10px 5px;
  max-width: 22.5%;
}

.forecastIcon {
  display: block;
  margin: 0 auto;
  max-width: 80%;
}

.row.forecastRow {
  margin-left: 1px;
}

.card.quote {
  border: 5px solid #ffc107;
  border-radius: 5px;
  display: blocks;
  margin: 0 auto;
  max-width: 540px;
}

.quoteEmoji {
  font-size: 70px;
  text-align: center;
  padding-right: 2px !important;
}

.quoteText {
  font-size: 16px;
  padding: 18px 18px 18px 0 !important;
  text-align: center;
}
.quoteText > p {
  margin-bottom: 0px;
}

.openSourceLink {
  font-family: monospace;
  text-align: center;
}
